# ---------------------------------------------------------
# Local Development Environment Variables
# ---------------------------------------------------------

# The connection string to your MongoDB Database
# Format: mongodb+srv://username:password@cluster.mongodb.net/?appName=App
# Required for running the app locally or deploying on Vercel
MONGO_URI=mongodb+srv://pro:B%4047etnN@cluster0.3bo6xd1.mongodb.net/?appName=Cluster0

# You can add other environment variables here if needed later
# PORT=3000
